body {
    background-image: url('../svg/gid.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer */
    user-select: none;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    width: 100%;      /* На всю ширину родителя */
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-seri;
}

.pole{
    opacity: 70%;
    margin: 20px;
    grid-row: 1/6;
    grid-column: 1/4;
    border-radius: 15px;
    background-color: rgb(99, 130, 187);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);

}
.pod{
    margin: 0px 0px 0px 30px;
    padding: 10px;
    border-radius: 15px;
    grid-row: 2;
    grid-column: 1/6;
    background-color:rgb(127, 158, 215);
    font-size:25px
}

.be{
    grid-row: 1;
    grid-column: 1/7;
    margin: 30px 0px 0px 30px;
}

.bt1{
    background-color:#FFFFFF;
    border-radius: 7px;
    padding: 3px 15px 3px 15px;
    margin:15px;
}
.bt2{
    background-color: rgb(11, 94, 215);
    border-radius: 7px;
    padding: 3px 15px 3px 15px;
    margin: 15px;
}
.bt1:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0);
}

.bt2:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0);
}


/*СНИЗУ ПОЛЕ КНОПКИ СДЕЛАЙ ВЫБОР И ПОЛЯ ВЫБОРА*/



.bib{
    grid-row: 5/7;
    grid-column: 5/7;
    margin: 60px;
    border-color: #ffffff;
    font-size: 20px;
    letter-spacing: 10px;
    background-color: rgb(11, 94, 215);
    border-radius: 20px;
    color: #ffffff;
    box-shadow: 15px 15px 10px rgba(0,0,0,0.3);
    transition: 0.3s;
}
.bib:active {
    transform: scale(0.9);
}

.po{
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: rgb(127, 158, 215);
    grid-column: 3/5;
    grid-row: 2/5;
    z-index: 111;
    border-radius: 15px;

}

/*СНИЗУ КНОПКИ*/


.bt3:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0);
}
.bt5:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0);
}
.close:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0);
}
.bt4:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0);
}
.bt3{
    grid-row: 4;
    grid-column: 1;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 7px;
    text-align: center;
    margin: 5px 50px 5px 50px;
    border: none;
}
.bt4{
    grid-row: 3;
    grid-column: 1;
    font-size: 20px;
    background-color: rgb(11, 94, 215);
    border-radius: 7px;
    margin: 5px 50px 5px 50px;
    border: none;
}
.bt5{
    grid-row: 2;
    grid-column: 1;
    font-size: 20px;
    background-color: rgb(11, 94, 215);
    border-radius: 7px;
    margin: 5px 50px 5px 50px;
    border: none;
}
.close{
    grid-row: 1;
    grid-column: 1;
    border:none;
    font-size: 15px;
    background-color: #FF2132;
    border-radius: 7px;
    margin: 5px 50px 5px 50px;
}

/*СНИЗУ ВАЖНЫЕ ЭЛЕМЕНТЫ*/


h1{
    font-size: 30px;
    font-weight: 500;
}
ol{
    background-color:rgb(127, 158, 215);
    opacity: 80%;
    margin: -10px 20px 20px 20px;
    border-radius: 15px;
    grid-row: 4/7;
    grid-column: 1/7;
}

li {
    margin: 15px;
    font-size: 20px;

}
.nowid{
    display: none;
}
a{
    text-decoration: none;
    color: inherit;
    color: #00000;
}


/*СНИЗУ АДАПТАЦИЯ*/


@media (max-width: 1150px){
    li {
        font-size: 15px;

    }
    ol{
        margin: 0px 20px 20px 20px;
        border-radius: 15px;
    }
    .pod{
        font-size:20px
    }
    h1{
        font-size: 25px;
        font-weight: 500;
    }
}
@media (max-width: 850px){
    li {
        font-size: 25px;

    }
    ol{
        margin: 0px 20px 20px 20px;
        border-radius: 15px;
    }
    .pod{
        font-size:30px
    }
    h1{
        font-size: 35px;
        font-weight: 500;
    }
    body {
        display: block;
    }
    .bib{
        position: relative;
        left: 25%;
        padding: 20px;
    }
}
@media (max-width: 650px){
    li {
        font-size: 25px;
        margin: 20px;
    }
    ol{
        margin: 20px;
        padding: 15px;
        border-radius: 15px;
    }
    .pod{
        font-size:25px;
        margin: 0px 10px 0px 10px;
    }
    h1{
        font-size: 35px;
        font-weight: 500;
    }
    body {
        display: block;
    }
    .bib{
        position: relative;
        left: 20%;
        padding: 20px;
    }
        .pole{
        opacity: 70%;
        margin: 20px;
        grid-row: 1/6;
        grid-column: 1/4;
        border-radius: 15px;
        background-color: rgb(99, 130, 187);
        display: block;

    }
}
@media (max-width: 550px){
    .bib{
        position: relative;
        left: 0%;
        padding: 20px;

    }
    .pod{
        font-size:18px;
        margin: 0px 10px 0px 10px;
    }
    h1{
        font-size: 22px;
        font-weight: 500;
    }
    .pole{
        margin: 0px;

    }

}