body {
    background-image: url('../svg/gid.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer */
    user-select: none;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-seri;
}
.b{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    width: 100%;      /* На всю ширину родителя */
    height: 100vh;
}
.pole{
    opacity: 70%;
    margin: 20px;
    grid-row: 1/6;
    grid-column: 1/4;
    border-radius: 15px;
    background-color: rgb(99, 130, 187);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);

}
.pod{
    margin: 0px 0px 0px 30px;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    grid-row: 2;
    grid-column: 1/6;
    background-color:rgb(127, 158, 215);
}
ol{
    background-color:rgb(127, 158, 215);
    opacity: 80%;
    margin: -10px 20px 20px 20px;
    border-radius: 15px;
    grid-row: 4/7;
    grid-column: 1/7;
}

li {
    margin: 15px;
    font-size: 20px;

}
.be{
    grid-row: 1;
    grid-column: 1/7;
    margin: 30px 0px 0px 30px;
}
h1{
    font-size: 30px;
    font-weight: 500;
}
.bt1{
    background-color:#FFFFFF;
    border-radius: 7px;
    padding: 3px 15px 3px 15px;
    margin:15px;
}
.bt2{
    background-color: rgb(11, 94, 215);
    border-radius: 7px;
    padding: 3px 15px 3px 15px;
    margin: 15px;
}
.bt1:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0);
}

.bt2:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0);
}
.bt3:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0);
}
.bt5:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0);
}
.close:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0);
}
.bt4:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0);
}
.bib{
    grid-row: 5/7;
    grid-column: 5/7;
    margin: 60px;
    border-color: #ffffff;
    font-size: 20px;
    letter-spacing: 10px;
    background-color: rgb(11, 94, 215);
    border-radius: 20px;
    color: #ffffff;
    box-shadow: 15px 15px 10px rgba(0,0,0,0.3);
    transition: 0.3s;
}
.bib:active {
    transform: scale(0.9);
}
a{
    text-decoration: none;
    color: inherit;
    color: #00000;
}
.po{
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: rgb(127, 158, 215);
    grid-column: 3/5;
    grid-row: 2/5;
    z-index: 111;
    border-radius: 15px;

}
.bt3{
    grid-row: 4;
    grid-column: 1;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 7px;
    text-align: center;
    margin: 5px 50px 5px 50px;
    border: none;
}
.bt4{
    grid-row: 3;
    grid-column: 1;
    font-size: 20px;
    background-color: rgb(11, 94, 215);
    border-radius: 7px;
    margin: 5px 50px 5px 50px;
    border: none;
}
.bt5{
    grid-row: 2;
    grid-column: 1;
    font-size: 20px;
    background-color: rgb(11, 94, 215);
    border-radius: 7px;
    margin: 5px 50px 5px 50px;
    border: none;
}
.close{
    grid-row: 1;
    grid-column: 1;
    border:none;
    font-size: 15px;
    background-color: #FF2132;
    border-radius: 7px;
    margin: 5px 50px 5px 50px;
}
.nowid{
    display: none;
}


